<div class="content">
  <div class="row">
    <div class="col-custom">
      <h3>BALANCES</h3>
    </div>
    <div class="col-custom text-right row-main-item">
        <h5>TOTAL BALANCES</h5>
        <span id="totalBalanceUsd"><img src="~@/assets/icon-usdollar.svg"/>{{totalBalance}}</span>
    </div>
  </div>
  <div v-for="wallet in wallets" v-bind:key="wallet.ticker">
    <balance-item :wallet="wallet"/>
    <table class="greyGridTable" v-if="wallet.ticker === 'KMD' && displayInterest">
      <thead>
        <tr>
          <th>Address</th>
          <th>Amount</th>
          <th>Interest</th>
        </tr>
      </thead>
      <tr v-for="row in table">
        <td>{{row.address}}</td>
        <td>{{satoshiToBitcoin(Math.abs(row.amount))}}</td>
        <td>{{row.interest}}</td>
      </tr>
    </table>
    <button v-if="wallet.ticker === 'KMD' && displayInterest" class="btn btn-tx pointer" id="btn" v-on:click="claimRewards()">Claim</button>
  </div>
</div>
