<div class="content">
  <div class="row">
    <div class="col-custom">
      <h3>BALANCES</h3>
    </div>
    <div class="col-custom text-right row-main-item">
        <h5>TOTAL BALANCES</h5>
        <span id="totalBalanceUsd"><img src="~@/assets/icon-usdollar.svg"/>{{totalBalance}}</span>
    </div>
  </div>
  <div v-for="wallet in wallets" v-bind:key="wallet.ticker">
    <balance-item :wallet="wallet"/>
  </div>
  <div class="row">
      <b-button @click="openKeyModal">Reveal key details</b-button>    
  </div>
  <b-modal size="lg" hide-header hide-footer centered title="Wallet details" ref="keyModal">
    <div class="d-block text-center">
      <h4>Wif:</h4>
      <p>{{wif}}</p>
    </div>
    <b-btn class="mt-3" variant="outline-danger" block @click="closeModal">Close Me</b-btn>  
  </b-modal>

</div>