<div class="content">
  <div class="row mb-5">
    <div class="col-custom">
      <h3>BALANCES</h3>
    </div>
    <div class="col-custom text-right row-main-item">
        <h5>TOTAL BALANCE</h5>
        <span id="totalBalanceUsd"><img src="~@/assets/icon-usdollar.svg"/>{{totalBalance}}</span>
    </div>
  </div>
  <div class="balance__wrap">
    <div v-for="wallet in wallets" v-bind:key="wallet.ticker" class="balance__item">
      <balance-item :wallet="wallet"/>
      <div v-if="wallet.ticker === 'KMD'" class="mb-0" style="display: flow-root;">
        <h5 class="float-left balance__title" style="line-height: 38px;">Komodo rewards :</h5>
        <div class="float-right">
          <p class="d-inline mr-2">{{rewardsData.rewards / satoshiNb}} (KMD)</p>
          <b-button variant="outline-gray" size="sm" class="btn-no-focus" :disabled="rewardsData.rewards <= 0.0001" id="btn" @click="onConfirmWithdrawModal" v-b-modal="'confirmWithdraw'">Claim</b-button>
          <b-button variant="outline-gray" size="sm" class="btn-no-focus" @click="getRewardData"><i class="fas fa-sync"></i></b-button>
        </div>
      </div>
    </div>
  </div>
  <b-modal @ok="claimRewards()" ref="confirmWithdraw" id="confirmWithdraw" centered>
    <div slot="modal-header" class="headerModalBuy">
      <h2>CLAIM REWARDS</h2>
    </div>
    <div class="contentModalBuy">
      <hr id="horizontalLine">
      <div class="row-total-amount">
        <div class="col-custom row">
          <h2 class="col-custom">TOTAL REWARDS AVAILABLE TO CLAIM</h2>
        </div>
        <div id="amountTotal" class="col-custom row">
          <div class="row">
            <span id="totalAmount">{{rewardsData.rewards / satoshiNb}}</span>
            <span id="totalAmountCoin">KMD</span>
          </div>
        </div>
      </div>
    </div>
    <div slot="modal-footer" class="row footerBuyModal">
      <button @click="hideModal" slot="modal-cancel" id="cancel" class="col-custom btn-round-light">Cancel</button>
      <button @click="claimRewards()" slot="modal-ok" id="confirm" class="col-custom btn-round-light">Confirm</button>
    </div>
  </b-modal>

</div>
