/** ***************************************************************************
 * Copyright © 2018 Monaize Singapore PTE. LTD.                               *
 *                                                                            *
 * See the AUTHORS, and LICENSE files at the top-level directory of this      *
 * distribution for the individual copyright holder information and the       *
 * developer policies on copyright and licensing.                             *
 *                                                                            *
 * Unless otherwise agreed in a custom licensing agreement, no part of the    *
 * Monaize Singapore PTE. LTD software, including this file may be copied,    *
 * modified, propagated or distributed except according to the terms          *
 * contained in the LICENSE file                                              *
 *                                                                            *
 * Removal or modification of this copyright notice is prohibited.            *
 *                                                                            *
 ******************************************************************************/

.row-custom {
  justify-content: flex-end !important;
}

#us-dollar {
  text-align: right;
}

.modal-header {
  text-align: center;
  border-bottom: none !important;
}

.content .btn:focus {
  outline: none;
  box-shadow: none;
}

.row-header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.row-title {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.col-header {
  flex-grow: 1;
  margin: 0px;
}

#balance-item {
  margin: 0;
  font-weight: 300;
  color: #0C6AA8;
}

#coin-item{
  margin: 0;
  font-weight: 200;
  margin-right: 5px;
  color: #0C6AA8;
}
#coin-item img{
  height: 24px;
  margin-top: -4px;
}
.row-content {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row-content .btn:hover{
  color: #1EB0DC;
}

.row-footer {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-footer button{
  padding: 0px;
  margin: 0px;
  background-color: black;
  border: white;
  border-radius: 4px;
}
.row-footer.oot button{
	background-color: #27aae0;
}
.row-footer.kmd button{
	background-color: #316465;
}
.row-footer.btc button{
	background-color: #f7a541;
}

.row-footer button:hover{
  background-color: #1EB0DC;
}

.row-footer button:active{
  background-color: #1EB0DC;
}

.btn-inside-qrcode {
  color: #687078;
  font-weight: 400;
  margin-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 3px;
  border-left-radius: 0px;
  border-top-left-radius: 0px 0px;
  border-bottom-left-radius: 0px 0px;
  width: 400px;
  min-width: 400px;
  font-size: 0.9rem;
  text-align: center;
}

.btn-inside-qrcode:hover {
  color: #1EB0DC;
}

.balance {
  font-size: 16pt;
  font-weight: 300;
  width: 150px;
}

.qrcode img {
  padding-left: 10px;
  padding-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.qrcode {
  background-color: transparent;
  color: #1EB0DC;
  font-weight: 400;
  text-align: right;
  font-size: 0.9rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f3f4fc;
  margin: 0.6em 0;
  padding: 0;
}

.row-main-item{
  margin-bottom: .5rem;
}
