<div class="row-main-item">
  <div class="row-title">
    <h4 id="coin-item">
      <img class="margin-auto sel-icon" v-bind:src="icon"/>
      {{wallet.ticker}}
    </h4>
    <h4 v-if="wallet.ticker == 'BTC'" id="balance-item">
      {{wallet.balance > 0 ? wallet.balance.toString().replace(/^(\d+)(\.\d{4}?)?(.*)/, '$1$2') : 0}}</h4>
    <h4 v-else id="balance-item">
      {{wallet.balance > 0 ? wallet.balance.toString().replace(/^(\d+)(\.\d{2}?)?(.*)/, '$1$2') : 0}}</h4>
    <p id="us-dollar" class="col-header">
      <img src="~@/assets/icon-usdollar.svg"/> {{numberWithSpaces(wallet.balance_usd.toFixed(2))}} (USD)
    </p>
  </div>
  <div class="d-flex flex-row justify-content-end">
    <div class="w-100" v-if="shouldShowUnconfirmed()">
      <img v-if="wallet.balance_unconfirmed.comparedTo(0) === -1" src="~@/assets/icon-in.svg" alt="icon-unconfirmed-balance">
      <img v-else src="~@/assets/icon-out.svg" alt="icon-unconfirmed-balance">
      <span :class="getUnconfirmedColor(wallet.balance_unconfirmed)"><span v-if="wallet.balance_unconfirmed.comparedTo(0) === 1">+</span>{{numberWithSpaces(wallet.balance_unconfirmed.toString())}}</span>
    </div>
    <div>
      <button v-b-modal="wallet.ticker" :id="wallet.ticker" type="button" class="btn qrcode">SEE YOUR QR CODE<img src="~@/assets/icon-qrcode-select.svg"></button>
    </div>
  </div>
  <div class="row-footer" v-bind:class="wallet.ticker.toLowerCase()">
    <p class="col-header">Your {{wallet.coin.name}} address :</p>
    <div class="card">
      <button
      v-clipboard:copy="wallet.address"
      v-clipboard:success="onCopy"
      type="button"
      class="btn btn-copy-link btn-smartaddress"
      :data-clipboard-text="wallet.address">
      <div :id="wallet.ticker" class="btn-inside-qrcode">
        <span v-if="isClipboard" >Copied to the clipboard</span>
        <span v-else>{{wallet.address}} &nbsp; <i class="far fa-copy"></i></span>
      </div>
    </button>
  </div>
</div>
<qrcode-modal :wallet="wallet"></qrcode-modal>
</div>
