{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 7 ***REMOVED***
        ***REMOVED***],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    ***REMOVED***,
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 ***REMOVED***
        ***REMOVED***],
        "stage-0"
      ]
    ***REMOVED***,
    "renderer": {
      "presets": [
        ["env", {
          "modules": false
        ***REMOVED***],
        "stage-0"
      ]
    ***REMOVED***,
    "web": {
      "presets": [
        ["env", {
          "modules": false
        ***REMOVED***],
        "stage-0"
      ]
    ***REMOVED***
  ***REMOVED***,
  "plugins": ["transform-runtime"]
***REMOVED***
