<div id="content_conditions">
  <h1>MNZ Wallet T&C</h1>

  <h3>Service Offered</h3>
  <p>Monaize has created a software program that enables users to access, and transfer virtual currencies, tokens, and cryptocurrencies (collectively, “Digital Asset(s)”) under the name “MNZ Wallet”.
    You should only use the MNZ Wallet if you are familiar with Digital Assets. Monaize highly recommends learning the basics for the Digital Assets that You plan on using with the MNZ wallet before running the MNZ Wallet.</p>
  
  <h3>You Own Your Private Keys</h3>
  <p>Monaize does not store any private keys, backup phrases or passwords (collectively, “Private Key Information”). Private Key Information is stored locally in Your local copy of the MNZ Wallet. It is very important that You backup Your Private Key Information. If You lose Your Private Key Information then it will not be possible for Monaize to recover it for You and You may permanently lose access to Your Digital Assets.</p>
  
  <p>If You do not understand the above paragraph then Monaize recommends that You learn more about Digital Assets before using the MNZ Wallet.</p>
  
  <h3>No Control Over Blockchains</h3>
  <p>Monaize is not the creator of, and does not have any control over, any of the Digital Assets that the MNZ Wallet allows You to use. You shall be solely responsible for Your choice of and use of Digital Assets.</p>
  
  <h3>Limited Intellectual Property License</h3>
  <p>Monaize licenses the MNZ Wallet to You on a personal, non-exclusive, royalty-free, non-transferable, worldwide-basis, for the purpose of holding and transferring Digital Assets.</p>
  
  <h3>No Warranty</h3>
  <p>The MNZ Wallet is provided to You at no cost, “as-is” and without any warranty whatsoever, to the maximum extent permissible by law. Without limiting the generality of the foregoing, Monaize does not warrant that the MNZ Wallet is fit for Your purpose, and does not warrant that the MNZ Wallet will operate in a bug-free manner.</p>
  
  <h3>Limitation of Liability</h3>
  <p>Notwithstanding any term of this agreement, Monaize shall not be liable for any losses or damages that result from providing free technical support to You.</p>
</div>
