<div class="content-login d-flex flex-column text-center">
  <div class="mt-4">
      <!-- <img id="icon-login" src="~@/assets/icon-login-utrum.png" height="60" class="col"> -->
      <img id="icon-login" src="~@/assets/utrum-wallet-logo256.png">
  </div>
  <div class="h-100 d-flex flex-column justify-content-center">
    <div class="d-flex align-items-center justify-content-center">
      <div class="d-flex flex-row input-login col-6">
        <form id="login" class="row login" method="POST" enctype="multipart/form-data">
          <img v-if="typeInput === 'password'" class="icon-mdp" src="~@/assets/icon-mdp-hide.svg" alt="icon-show-password" @click="changeTypeInputPassphrase()">
          <img v-if="typeInput === 'text'" class="icon-mdp" src="~@/assets/icon-mdp.svg" alt="icon-show-password" @click="changeTypeInputPassphrase()">
          <input :type="typeInput" class="col" @keydown.enter.stop.prevent="validatePassPhrase()" v-model="passphrase" onblur="this.placeholder = 'Please enter your passphrase'" onfocus="this.placeholder = ''" placeholder="Please enter your passphrase" :id="passphraseId">
          <button @click.prevent="validatePassPhrase()" :class="btnSendStatus" class="btn-send-enabled"><img src="~@/assets/icon-send-login.svg"></button>
        </form>
      </div>
    </div>
    <div class="mt-2 d-flex align-items-center justify-content-center">
      <div class="d-flex flex-row col-6">
        <span id="info-passphrase">For obvious security reasons, we strongly recommend you use at least a 12 words passphrase as enforced by the BIP39 protocol</span>
      </div>
    </div>
    <div class="w-100 mt-4">
      <button @click.prevent="createPassphrase()" id="create-passphrase" class="btn-round-light">Generate Passphrase</button>
    </div>
  </div>
  <div class="mb-4">
      <img class="h-100" src="~@/assets/img-login.svg">
  </div>
  <img id="img-background" src="~@/assets/img-login_background.svg">
</div>
