<div class="content-login row-main-item">
  <img id="icon-login" src="~@/assets/icon-login-monaize.svg" height="60" class="col">
  <span class="col">DECENTRALIZED ICO PLATFORM</span>
  <div class="col">
    <div class="row align-items-center justify-content-start">
      <div class="col-1 offset-2">
        <img :id="iconMdpId" class="icon-mdp" src="@/assets/icon-mdp.svg" alt="icon-show-password" @click="changeTypeInputPassphrase()">
      </div>
      <div class="col-6">
        <div class="row input-login">
          <form id="login" class="row login" method="POST" enctype="multipart/form-data">
            <input :type="typeInput" class="col" @keydown.enter.stop.prevent="validatePassPhrase()" v-model="passphrase" onblur="this.placeholder = 'Please enter your passphrase'" onfocus="this.placeholder = ''" placeholder="Please enter your passphrase" :id="passphraseId">
            <button @click.prevent="validatePassPhrase()" :class="btnSendStatus" class="btn-send-enabled"><img src="~@/assets/icon-send-login.svg"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <input @change="checkboxTestMode" type="checkbox" id="checkbox" v-model="testMode">
  <label for="checkbox">Test Mode</label>
  <button @click.prevent="createPassphrase()" id="create-passphrase" class="btn-round-light">Don't have a passphrase?</button>
  <img class="col" id="login-background" src="~@/assets/img-login.svg">
</div>