/** ***************************************************************************
 * Copyright © 2018 Monaize Singapore PTE. LTD.                               *
 *                                                                            *
 * See the AUTHORS, and LICENSE files at the top-level directory of this      *
 * distribution for the individual copyright holder information and the       *
 * developer policies on copyright and licensing.                             *
 *                                                                            *
 * Unless otherwise agreed in a custom licensing agreement, no part of the    *
 * Monaize Singapore PTE. LTD software, including this file may be copied,    *
 * modified, propagated or distributed except according to the terms          *
 * contained in the LICENSE file                                              *
 *                                                                            *
 * Removal or modification of this copyright notice is prohibited.            *
 *                                                                            *
 ******************************************************************************/

 @import '~typeface-montserrat';

 #login {
	 height: 60px;
 }
 
 #create-passphrase {
	 width: 250px;
 }
 
 #img-background {
	 width: 100%;
	 bottom: 0;
	 position: absolute;
	 bottom:0px;
	 z-index: -1;
	 padding: 0px;
 }
 
 .content-login {
	 height: 100vh;
 }
 
 #info-passphrase {
	 font-size: 1em;
	 color: #0C6AA8;
	 font-weight: 500;
 }
 
 .input-login .row {
	 align-items: center;
	 justify-content: center;
	 width: 100%;
 }
 
 .show-button {
	 opacity: 1;
	 transition: 0.5s;
 }

 .input-login .row-main-item {
	 margin: none;
 }
 
 .content-login span {
	 color: #1E2438;
	 font-size: 1.5em;
 }
 
 .input-login {
	 border: 1px solid rgba(24,13,57,0.1);
	 border-radius: 3px;
	 background-color: white;
	 /* margin-bottom: 15px; */
	 padding: 10px;
 }
 
 .middle {
	 vertical-align: middle;
 }
 
 #passphrase-hide, #passphrase-show{
	 width: 100%;
	 text-align: center;
	 border: none !important;
	 outline: none;
	 background-color: transparent;
	 font-size: 1.2em;
 }
 
 textarea {
	 resize: none;
 }
 
 .row-main-item {
	 display: flex;
	 flex-direction: column;
	 margin-top: 20px;
	 margin-bottom: 20px;
 }
 
 .col {
	 flex-grow: 1;
 }
 
 .row {
	 margin: 0px;
	 display: flex;
	 justify-content: space-between;
 }
 
 .btn-round-light  {
	 outline: none;
 }
 
 .icon-mdp {
	 margin-left: 20px;
	 margin-right: 20px;
 }
 
 .flex{
	 display: flex;
 }
 .margin-auto{
	 margin: auto;
 }
 .icon-wrapper{
	 height: 30vh;
 }
 .form-wrapper{
	 height: 70vh;
 }