/** ***************************************************************************
 * Copyright © 2018 Monaize Singapore PTE. LTD.                               *
 *                                                                            *
 * See the AUTHORS, and LICENSE files at the top-level directory of this      *
 * distribution for the individual copyright holder information and the       *
 * developer policies on copyright and licensing.                             *
 *                                                                            *
 * Unless otherwise agreed in a custom licensing agreement, no part of the    *
 * Monaize Singapore PTE. LTD software, including this file may be copied,    *
 * modified, propagated or distributed except according to the terms          *
 * contained in the LICENSE file                                              *
 *                                                                            *
 * Removal or modification of this copyright notice is prohibited.            *
 *                                                                            *
 ******************************************************************************/

#address {
  font-size: 0.8em;
}

#txTable {
  font-size: smaller;
  font-weight: 500;
}

.borderBottom {
  border-bottom: 1px solid rgba(222, 226, 230, 0.5);
}

.btn {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: inherit;
}

.btn-tx {
  align-content: flex-end;
}

#btn-group-tx {
  border-color: #0C6AA8;
  width: 160px;
}

#btn-tx-id {
  border-radius: 10px;
  width: 90px;
  font-size: small;
}

#btn-logo {
  background-color: white;
}

.btn-tx {
  background-color: #079cd8;
  border-color: white;
  color: white;
}

.btn-tx:hover {
  background-color: #619EC6;
  border-color: white;
  transition: 0.5s;
}

.btn-tx:focus {
  outline: none;
  box-shadow: none;
}

.btn-tx:target {
  background-color: #619EC6;
  box-shadow: none;
}

.hodlLightGray {
  color: #95989c;
  font-weight: 400;
}

.negativeColor {
	color: #95989c;
}

.hodlGreen{
  color: green;
  font-weight: 500;
}

.hodlGray{
  color: #687078;
  font-weight: 500;
}

.hodlOrange{
  color: darkorange;
  font-weight: 500;
}

.hodlRed{
  color: darkred;
  font-weight: 500;
}

.title-sec{
  position: relative;
}
.title-sec span{
  margin: 0;
  font-weight: 400;
  color: #0C6AA8;
}
.title-sec .btn-link{
  position: absolute;
  right: 0px;
  font-size: .7rem;
  color: rgba(131, 125, 149, 0.39);
}

.title-sec .btn-link:hover{
  color: #0C6AA8;
}

.btn-copy-link:hover {
  color: #619EC6
}

.btn-copy-link {
  color: #079cd8
}
