<div>
  <b-table  id="txTable" 
            thead-tr-class="theadTrClass"
            tbody-tr-class="theadClass"
            tbody-class="cardTable"
            thead-class="theadClass"
            hover
            :sort-desc.sync="sortDesc"
            :sort-by.sync="sortBy"
            :fields="fields"
            :items="txHistory"
            :current-page="currentPage"
            :per-page="perPage"
  >
    <template slot="time" slot-scope="row">
        <span>{{dateFormat(row.value)}}</span>
    </template>
    <template slot="amount" slot-scope="row">
        <div :class="getColorAmount(row.value)">
            <span v-if="satoshiToBitcoin(row.value) > 0">+</span>
            <span v-else>-</span>
            {{satoshiToBitcoin(Math.abs(row.value))}}
        </div>
    </template>
    <template slot="address" slot-scope="row">
        <span id="address">{{row.value}}</span>
    </template>
    <template slot="confirmations" slot-scope="row">
            <span id="confirmations">{{handlePending(row.value)}}</span>
        </template>
  </b-table>

  <b-pagination align="center" :total-rows="txHistory.length" :per-page="perPage" v-model="currentPage" class="my-0" />
</div>