<div class="content">
  <div class="error-message" v-if="showError">
   {{ errorMessage }}
  </div>
  <div v-if="loading" class="loading">
    🔧  Building Charts ...
  </div>
  <div class="Chart__container" style="width:95%" v-show="loaded">
    <b-container class="mb-3" >
          <b-row>
              <b-col>
                  <b-form-select v-model="selCoin" :options="coins" @change.native="changeCoin($event.target.value)"/>
              </b-col>
              <b-col>
                  <b-form-select v-model="selTime" :options="timeList"  @change.native="requestData($event.target.value)"/>
              </b-col>
          </b-row>
    </b-container>
    <div class="Chart__content" v-if="loaded">
      <line-chart chart-id="line-daily" :chart-data="prices" :chart-labels="labels" @generate="setLinePng"/>
    </div>
  </div>
  </div>
</div>
