<div class="content">
    <div class="error-message" v-if="showError">
      {{ errorMessage }}
    </div>
    <div v-if="loading" class="loading">
      <i class="fas fa-cogs"/>  building charts...
    </div>
    <div class="Chart__container" style="width:95%" v-show="loaded">
      <b-container style="margin-bottom: 7rem;">
        <b-row>
          <b-col>
            <div class="utrum-select">
              <div class="flex">
                <img class="margin-auto sel-icon" v-if="selCoin && selCoin.value == 'kmd'" src="~@/assets/KMD-32x32.png"/>
                <img class="margin-auto sel-icon" v-if="selCoin && selCoin.value == 'oot'" src="~@/assets/OOT-32x32.png"/>
                <img class="margin-auto sel-icon" v-if="selCoin && selCoin.value == 'btc'" src="~@/assets/BTC-32x32.png"/>
              </div>
              <v-select v-model="selCoin" :options="coins" label="text" :searchable="true" @input="onCoinChange">
                <template slot="option" slot-scope="option">
                  <img v-if="option.value == 'kmd'" src="~@/assets/KMD.png"/>
                  <img v-if="option.value == 'oot'" src="~@/assets/OOT.png"/>
                  <img v-if="option.value == 'btc'" src="~@/assets/BTC.png"/>
                  {{ option.text }}
                </template>
              </v-select>
            </div>
          </b-col>
          <b-col>
            <div class="utrum-select no-icon">
              <v-select v-model="selTime" :options="timeList" label="text" :searchable="false" @input="onTimeChange">
                <template slot="option" slot-scope="option">
                  {{ option.text }}
                </template>
              </v-select>
            </div>
          </b-col>
        </b-row>
      </b-container>
      <div class="Chart__content" v-if="loaded">
        <line-chart chart-id="line-daily" :chart-data="prices" :chart-labels="labels" @generate="setLinePng"/>
      </div>
    </div>
  </div>
  </div>
