/** ***************************************************************************
 * Copyright © 2018 Monaize Singapore PTE. LTD.                               *
 *                                                                            *
 * See the AUTHORS, and LICENSE files at the top-level directory of this      *
 * distribution for the individual copyright holder information and the       *
 * developer policies on copyright and licensing.                             *
 *                                                                            *
 * Unless otherwise agreed in a custom licensing agreement, no part of the    *
 * Monaize Singapore PTE. LTD software, including this file may be copied,    *
 * modified, propagated or distributed except according to the terms          *
 * contained in the LICENSE file                                              *
 *                                                                            *
 * Removal or modification of this copyright notice is prohibited.            *
 *                                                                            *
 ******************************************************************************/

.progress-active {
	height: 6px;
	border-radius: 1px;
}

#progress-live {
	padding: 10px;
	background-color: #b32581;
	font-weight: 500;
	color: white;
	width: 140px;
	height: 30px;
	border-radius: 4px;
}

#progress-time-left {
	color: #b32581;
}

#progress-indicator {
	color: black;
	padding-left: 50px;
	font-weight: 500;
}

#progress-bar-indicator {
	padding-top: 15px; 
}

#progress-bar {
	padding: 50px;
}

.buy-monaize {
	background-color: white;
	padding: 50px;
	margin-bottom: 25px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.01);
}

#historyMnzBuy {
	padding: 50px;
	padding-top: 20px;
}

#historyMnzBuy h3 {
	margin-top: 25px;
	text-align: center;
	color: rgb(151,151,151);
}

.row-custom {
	display: flex;
	flex-direction: row;
}

#selector-plus {
	flex-direction: row;
}

.selected-tag {
	position: absolute;
}

.select-coin {
	text-align: center;
}

.center{
	width: 150px;
	margin: 40px auto;
}

.inputmnz {
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
	opacity: 1;
}


.disableBuy {
	opacity: 0.65; 
	cursor: not-allowed;
}

.content-buyview {
	padding-bottom: 15px;
	color: rgb(151,151,151);
}

.content-buyview h3 {
	font-weight: 300;
	color: #180d39;
}

.content-buyview h5 {
	font-weight: 300;
	color: #687078;
}

.col-center img {
	vertical-align: text-top;
}

.title-buy-mnz {
	margin: auto;
}

.sub-title {
	font-weight: 300;
	color: #180d39;
}

.col {
	flex-grow: 0;
}
.row {
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

.row-main {
	margin: 0px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.col-custom {
	flex-grow: 1;
}

.div-total-mnz {
	text-align: right;
	color: black;
	font-weight: 500;
	font-size: 0.8em;
}

#total-mnz {
	color: black;
	font-weight: 200;
	font-size: 2.5em;
}

#line-cut {
	flex-grow: 11;
}

#title-crypto-choice {
	margin: auto;
	font-weight: 300;
	color: #180d39;
}

#crypto-title-line {
	margin-top: 23px;
	margin-bottom: 13px;
}

.select-coin-buy {
	justify-content: flex-start;
	flex-direction: row;
	display: flex;
}

.select-coin-buy .dropdown {
	height: 100%;
}

.select-coin-buy .dropdown-toggle {
	height: 100%;
	width: 150px;
}

.dropdown-toggle button {
	visibility: hidden;
}

.dropdown-toggle i {
	visibility: hidden;
}

#buy-mnz-box {
	color: #687078;
	width: 150px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 1.8em;
	font-weight: 200;
	background-color: white;
}

.row-buy {
	display: flex;
	justify-content: space-between;
}

.arrow-buy {
	width: 100%;
	line-height: 75px;
	text-align: center;
}

#package-mnz {
	margin-left: auto;
	width: 300px;
	height: 40px;
	border: 1px solid rgba(0,0,0, 0.1);
	border-radius: 4px;
	line-height: 40px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#choose-mnz {
	text-align: right;
}

.currency-balance-div {
	width: 100px;
}

.col-center {
	flex-grow: 1;
	text-align: center;
}

.minus-plus {
	color: black;
}

#package-value {
	width: 100px;
	font-size: 1.5em;
	font-weight: 300;
	background-color: transparent;
  border: none;
  outline: none;
}

.value {
	font-size: 1.5em;
	font-weight: 400;
	color: #180d39;
}

#balance-value {
	font-size: 1.5em;
	font-weight: 200;
	color: #687078;
	margin-top: 10px;
}

#balance-coin {
	font-weight: 300;
	color: #687078;
}

.title-choose-coin {
	font-weight: 500;
}

#choose-coin {
	margin-top: 25px;
}

#detail-order-title {
	color: #180d39;
	font-weight: 400;
	max-width: 150px;
}

.center-text {
	text-align: center;
}

#btn-buy {
	border: 1px solid #7c398a;
	border-radius: 4px !important;
	font-size: 1.4em;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	outline: none;
	box-shadow: none;
	color: #7c398a;
	max-width: 100px;
}

#btn-buy:hover {
	background-color: #7c398a;
	color: white;
}

.center-horizontal {
	margin: auto;
}

.title-value {
	font-weight: 400;
	color: #7c398a;
	font-size: 0.8em;
}

.content-swapview {
	box-shadow: 0px 15px 40px -20px rgba(33,33,33,0.2) inset;
	background-color: rgba(0,0,0,0.01);
}

.title-amount {
	margin-bottom: 20px;
}

.sub-title {
	font-weight: 300;
	color: #180d39 !important;
}

.select-header{
	flex-grow: 1;
	margin: 50px;
	border: 1px solid #7c398a;
	background: transparent;
	width: 150px;
	padding: 5px 5px 5px 5px;
	font-size: 16px;
	text-align: center;
	border-radius: 4px;
	border-color: black !important;
	height: 800px;
	font-size: 1.9em;
	font-weight: 300;
	text-align-last:center;
}

.select-header:hover{
	background-color: black;
	color: white;
}

.select-all {
	background-color: transparent;
	padding-top: auto;
	padding-bottom: auto;
	width: 25px;
	border-top-left-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
	border: 1px solid #7c398a;
	border-width: 1px 0px 1px 1px;
	text-align: center;
	color: red;
	cursor: pointer;
}

#str-current-balances {
	text-align: right;
}

.row {
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

.row-header {
	display: flex;
	justify-content: flex-start;
}

.row .btn{
	padding: 0px;
	margin: 0px;
	border-top-right-radius: 0px 0px !important;
	border-bottom-right-radius: 0px 0px !important;
}

.row .btn:focus {
	outline: none;
	box-shadow: none;
}

.vl {
	border-left: 1px solid rgba(0,0,0,0.1);
	height: 45px;
	margin-top: 15px;
}

.current-balance {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

#card-current-balance {
	text-align: right;
	font-size: 1.8em;
	max-width: 300px;
}

#add-coin {
	color: #7c398a;
	font-size: 1.8em;
	height: 100%;
	padding: 0px;
	margin: 0px;
	line-height: 73px;
	text-align: center;
	background-color: white;
	border-radius: 4px;
}

.col {
	flex-grow: 1;
}

#title {
	margin-bottom: 40px;
}

.input-field {
	outline: none;
	box-shadow: none;
	text-align: right;
}

#first-line {
	margin-top: 10px;
}

.btn-center {
	text-align: center;
}

.disableSendCoins {
	border: 1px solid rgba(0,0,0,0.1) !important;
	color: rgba(0,0,0,0.1) !important;
	cursor: not-allowed;
}

.disableSendCoins:hover {
	border: 1px solid rgba(0,0,0,0.1) !important;
	color: rgba(0,0,0,0.1) !important;
	cursor: not-allowed;
	background-color: transparent !important;
}

#buycoins {
	border: 1px solid #7c398a;
	border-radius: 4px !important;
	background-color: transparent;
	font-size: 1.4em;
	width: 160px;
	height: 45px;
	text-align: center;
	outline: none;
	box-shadow: none;
	color: #7c398a;
}

#buycoins:hover {
	background-color: #7c398a;
	color: white;
}

.disableSendCoins {
	opacity: 0.65; 
	cursor: not-allowed;
}

#addr {
	background-color: transparent;
	border: none;
	font-size: 1.1em;
	font-weight: 300;
	color: #687078;
}

#amount {
	background-color: transparent;
	border: none;
	font-size: 1.8em;
	font-weight: 300;
	color: rgb(151,151,151);
}

::-webkit-input-placeholder {
	color: rgba(104,112,120,0.4);
	font-weight: 200;
}

#current-coin {
	font-size: 1.8em;
	color: #687078;
	font-weight: 200;
}

.card span {
	color: #687078;
	font-weight: 200;
}

.title-content {
	font-weight: 400;
	color: #180d39;
	margin: auto;
}

.horizontal-line {
	margin-bottom: 50px;
}

#value-current-balance {
	font-weight: 400;
	color: #687078;
}

#coupon {
	border: 1px solid rgba(24,13,57,0.1);
	border-radius: 4px;
	width: 100px;
	text-align: center;
}

#coupon:focus {
	outline: none !important;
	border:1px solid #7c398a;
}

#warningInfo {
	font-weight: 400;
	font-size: 1.1em;
}

#package-value::-webkit-input-placeholder {
	font-size: 0.6em;
}

#monaize-over {
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	color: #180d39;
}

#title-monaize-over {
	font-weight: 500;
	color: #180d39;
}