/** ***************************************************************************
 * Copyright © 2018 Monaize Singapore PTE. LTD.                               *
 *                                                                            *
 * See the AUTHORS, and LICENSE files at the top-level directory of this      *
 * distribution for the individual copyright holder information and the       *
 * developer policies on copyright and licensing.                             *
 *                                                                            *
 * Unless otherwise agreed in a custom licensing agreement, no part of the    *
 * Monaize Singapore PTE. LTD software, including this file may be copied,    *
 * modified, propagated or distributed except according to the terms          *
 * contained in the LICENSE file                                              *
 *                                                                            *
 * Removal or modification of this copyright notice is prohibited.            *
 *                                                                            *
 ******************************************************************************/

.active {
  transition: all 0.3s;
  color: #ffffff !important;
}

#sidebar {
  font-weight: 600;
  font-size: 0.82em;
  width: 50%;
  padding: 15px;
  min-width: 184px;
  max-width: 210px;
  height: 100vh;
  transition: all 0.3s;
  position: fixed;
  background-color: #fff;
  border-right: 2px solid #e5e5e5;
}
#sidebar .sidebar-header {
  background: #6d7fcc;
}

#sidebar ul.components {
  border-bottom: 1px solid #fff;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li {
  margin: 20px 0;
}

#sidebar ul li a {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
  font-size: 1.1em;
  color: #000;
  display: block;
  list-style-type: none;
  cursor: pointer;
  font-weight: normal;
}

#sidebar ul li{
  color: rgb(151,151,151);
}

#sidebar ul li > a.active {
  color: #ffffff;
  font-weight: 600;
  background-color: #079cd8;
  border-radius: 2rem;
}

#sidebar a:focus{
  outline: none;
}

#logout {
  position: fixed;
  bottom: 20px;
}

#icon-logout {
  padding-right: 30px;
  padding-left: 20px;
}

#logout p {
  color: #000000;
  font-weight: 500;
}

.number-view {
  padding-right: 20px;
  width: 38px;
  font-size: 18px;
}

.flex{
  display: flex;
}
.margin-auto{
  margin: auto;
}