<nav id="sidebar">
  <div class="flex" style="height: 32%;">
    <div class="text-center margin-auto">
        <img class="mb-3" src="~@/assets/icon-logo-utrum.png" style="max-width: 50%;"/>
        <img src="~@/assets/utrum-text.png" style="max-width: 65%;"/>
    </div>
  </div>
  <ul class="list-unstyled">
    <li v-on:click="balanceClicked">
      <router-link  active-class="active" tag="a" to="balance">
        <img v-if="balanceState" id="icon-balances" src="~@/assets/icon-balances.svg" class="number-view" />
        <img v-else id="icon-balances" src="~@/assets/icon-balances-grey.svg" class="number-view" />
        PORTFOLIO
      </router-link>
    </li>
    <li v-on:click="withdrawalClicked">
      <router-link  active-class="active" tag="a" to="withdraw">
        <img v-if="withdrawalState" id="icon-withdrawal" src="~@/assets/icon-withdrawal.svg" class="number-view" />
        <img v-else id="icon-withdrawal" src="~@/assets/icon-withdrawal-grey.svg" class="number-view" />
        SEND
      </router-link>
    </li>

    <li v-on:click="hodlClicked" v-if="hasPlannedIco">
      <router-link active-class="active" tag="a" to="hodl">
        <i class="fas fa-lock number-view"></i>
        HODL
      </router-link>
    </li>

    <li v-on:click="socialClicked">
      <router-link  active-class="active" tag="a" to="social">
        <img v-if="socialState" id="icon-social" src="~@/assets/icon-out.svg" class="number-view" />
        <img v-else id="socialState" src="~@/assets/icon-out-grey.svg" class="number-view" />
        EXCHANGES
      </router-link>
    </li>
    <li v-on:click="chartClicked">
      <router-link  active-class="active" tag="a" to="chart">
        <i class="fas fa-chart-area number-view"></i>
        CHART
      </router-link>
    </li>
    <li v-on:click="aboutClicked">
      <router-link  active-class="active" tag="a" to="about">
        <img v-if="aboutState" id="icon-social" src="~@/assets/icon-infos-id.svg" class="number-view" />
        <img v-else id="icon-social" src="~@/assets/icon-infos-id.svg" class="number-view" />
        ABOUT
      </router-link>
    </li>
  </ul>
  <a href="" id="logout" @click="$store.dispatch('logout')">
    <p><img id="icon-logout" src="~@/assets/icon-logout.svg"/>Log out</p>
  </a>
</nav>
