<div class="content">
  <div class="title-amount">
    <div class="row">
      <h5 class="col-custom sub-title">CHOOSE YOUR CRYPTO</h5>
      <h5 id="str-current-balances" class="col-custom sub-title">YOUR CURRENT BALANCE</h5>
    </div>
  </div>

  <div class="row">
    
    <!-- <div id="selector-coin-buy" class="col-custom">
      <div class="row-header">
        <div class="btn select-all">
          <p @click="$root.$emit('select2:open')" id="add-coin">+</p>
        </div>
        <div  class="col-custom">
           <select2 ref='select2' :options="coins" :value="select" @input="updateCoin"></select2>
        </div>
      </div>
    </div> -->
    <div class="utrum-select">
        <div class="flex">
            <img class="margin-auto sel-icon" v-if="selectNew && selectNew.icon == 'KMD'" src="~@/assets/KMD-32x32.png"/>
            <img class="margin-auto sel-icon" v-if="selectNew && selectNew.icon == 'BTC'" src="~@/assets/BTC-32x32.png"/>
            <img class="margin-auto sel-icon" v-if="selectNew && selectNew.icon == 'OOT'" src="~@/assets/OOT-32x32.png"/>
        </div>
        

        <v-select :options="coinsNew" v-model="selectNew" @input="updateNewCoin" :searchable="false">
            <template slot="option" slot-scope="option">
                <img v-if="option.icon == 'KMD'" src="~@/assets/KMD.png"/>
                <img v-if="option.icon == 'BTC'" src="~@/assets/BTC.png"/>
                <img v-if="option.icon == 'OOT'" src="~@/assets/OOT.png"/>
                {{ option.label }}
            </template>
        </v-select>
    </div>
    
    <div @click="onMaxSelected()" id="card-current-balance" class="justify-content-end align-items-center">
        <div style="float: right;"><span id="value-current-balance">{{getBalance.toString()}}&nbsp;</span><span>{{select}}</span></div>
        <div style="font-size: 16px;"><span id="us-dollar" class="col-header"><img src="~@/assets/icon-usdollar.svg"/> {{getUSDAmount.toString()}} (USD)</span></div>
    </div>
  </div>

  <div id="select-amount" class="row">
    <div class="w-100">
        <div class="col-custom input-field row">
          <span class="title-content">AMOUNT</span>
          <input type="number" id="amount" v-model.number="amount" class="col-custom input-field" placeholder="Amount">
          <span id="current-coin"> {{select}}</span>
      </div>
    </div>
    <p class="text-right m-0 w-100">
      ${{convertToUSDAmount.toString()}} (USD)
    </p>
  </div>
  <div class="col-custom horizontal-line">
    <hr id="first-line"/>
  </div>

  <div class="row">
    <span class="title-content">{{select}} ADDRESS</span>
    <input v-model="withdraw.address" type="text" class="col-custom input-field" id="addr" placeholder="Enter recipient address">
    <button id="readerQrcode" v-b-modal="'readerQrcodeModal'" @click="readingQRCode = !readingQRCode">
      <img src="~@/assets/icon-scan-qrcode.svg">
    </button>

  </div>
  <div class="col-custom horizontal-line">
    <hr/>
  </div>

  <div class="btn-center">
    <button @click="onConfirmWithdrawModal" v-b-modal="'confirmWithdraw'" id="sendcoins" class="btn sendcoins" type="button">SEND</button>
  </div>

  <div v-if="$store.getters.getWalletTxs(wallet.coin.ticker) && $store.getters.getWalletTxs(wallet.coin.ticker).length > 0">
    <transaction-history id="transactionHistory" :coin="wallet.coin"></transaction-history>
  </div>

  <b-modal size="sm" :hide-header="true" :hide-footer="true" @hide="readingQRCode = false" id="readerQrcodeModal" centered>
    <qrcode-reader id="qrcode" :video-constraints="videoConstraints" @decode="onDecode" :paused="paused" v-if="readingQRCode" @init="onInit"></qrcode-reader>
  </b-modal>

  <b-modal @ok="withdrawFunds()" ref="confirmWithdraw" id="confirmWithdraw" centered>
    <div slot="modal-header" class="headerModalBuy">
      <h2>WITHDRAWAL</h2>
    </div>
    <div class="contentModalBuy">
      <div class="row-main-item">
        <div class="row">
          <span class="subTitle">Amount to send</span>
          <div class="col-custom row-main-item">
            <span class="col-custom"><span class="selectAmount">{{amount}} </span>{{select}}</span>
            <div class="col-custom"><hr></div>
          </div>
        </div>
        <div class="row">
          <span class="subTitle">Address {{select}}</span>
          <div class="col-custom row-main-item">
            <span id="address" class="col-custom selectAmount">{{withdraw.address}}</span>
            <div class="col-custom"><hr></div>
          </div>
        </div>
        <div class="row" v-if="wallet.coin.ticker.indexOf('BTC') >= 0">
          <span class="subTitle">Transaction fees</span>
          <div class="col-custom row-main-item">
            <select-awesome @change="onFeeChange" :value="fees[0].label" :fees="fees" id="selectAwesome" class="col-custom"></select-awesome>
            <div class="col-custom"><hr></div>
          </div>
        </div>
      </div>

      <hr id="horizontalLine">
      <div class="row-total-amount">
        <div class="col-custom row">
          <h2 class="col-custom">TOTAL AMOUNT</h2>
        </div>
        <div id="amountTotal" class="col-custom row">
          <div class="row">
            <span id="totalAmount">{{getTotalPriceWithFee}}</span>
            <span id="totalAmountCoin">{{select}}</span>
          </div>
        </div>
      </div>
    </div>
    <div slot="modal-footer" class="row footerBuyModal">
      <button @click="hideModal" slot="modal-cancel" id="cancel" class="col-custom btn-round-light">Cancel</button>
      <button @click="withdrawFunds()" slot="modal-ok" id="confirm" class="col-custom btn-round-light">Confirm</button>
    </div>
  </b-modal>
</div>
