<div id="content_conditions">
  <h4>Terms & Conditions</h4>

  <div id="terms-content">
    <h5>SERVICE OFFERED</h5>
    <p>Utrum has created a software program that enables users to access, and transfer virtual currencies, tokens, and cryptocurrencies (collectively, “Digital Asset(s)”) under the name “Utrum Wallet”.
      You should only use the Utrum Wallet if you are familiar with Digital Assets. Utrum highly recommends learning the basics for the Digital Assets that You plan on using with the Utrum Wallet before running the Utrum Wallet.</p>

    <h5>YOU OWN YOUR PRIVATE KEYS</h5>
    <p>Utrum does not store any private keys, backup phrases or passwords (collectively, “Private Key Information”). Private Key Information is stored locally in Your local copy of the Utrum Wallet. It is very important that You backup Your Private Key Information. If You lose Your Private Key Information then it will not be possible for Utrum to recover it for You and You may permanently lose access to Your Digital Assets.</p>

    <p>If You do not understand the above paragraph then Utrum recommends that You learn more about Digital Assets before using the Utrum Wallet.</p>

    <h5>NO CONTROL OVER BLOCKCHAINS</h5>
    <p>Utrum is not the creator of, and does not have any control over, any of the Digital Assets that the Utrum Wallet allows You to use. You shall be solely responsible for Your choice of and use of Digital Assets.</p>

    <h5>LIMITED INTELLECTUAL PROPERTY LICENSE</h5>
    <p>Utrum licenses the Utrum Wallet to You on a personal, non-exclusive, royalty-free, non-transferable, worldwide-basis, for the purpose of holding and transferring Digital Assets.</p>

    <h5>NO WARRANTY</h5>
    <p>The Utrum Wallet is provided to You at no cost, “as-is” and without any warranty whatsoever, to the maximum extent permissible by law. Without limiting the generality of the foregoing, Utrum does not warrant that the Utrum Wallet is fit for Your purpose, and does not warrant that the Utrum Wallet will operate in a bug-free manner.</p>

    <h5>LIMITATION OF LIABILITY</h5>
    <p>Notwithstanding any term of this agreement, Utrum shall not be liable for any losses or damages that result from providing free technical support to You.</p>
  </div>
</div>
