<div class="d-flex flex-column content-buyview"">
  <div class="buy-monaize" >
		<div class="col-custom">
			<div class="row">
				<div class="col-custom title-buy-mnz">
					<h3>not working yet, experimenting</h3>
				</div>
			</div>

			<div class="row">
		    <span class="title-content">{{select}} ADDRESS</span>
		    <input v-model="hodl.address" type="text" class="col-custom input-field" id="addr" placeholder="Enter hodl address">
		  </div>

			<div id="select-amount" class="row">
		    <span class="title-content">AMOUNT</span>
		      <div class="col-custom input-field row">
		        <input type="number" id="amount" v-model.number="hodl.amount" class="col-custom input-field" placeholder="Amount">
		        <span id="current-coin"> {{select}}</span>
		    </div>
		  </div>

			<div id="select-block" class="row">
		    <span class="title-content">BLOCK HEIGHT</span>
		      <div class="col-custom input-field row">
		        <input type="number" id="amount" v-model.number="hodl.block" class="col-custom input-field" placeholder="Block">
		    </div>
		  </div>

		</div>
	</b-modal>
	</div>
</div>
