/** ***************************************************************************
 * Copyright © 2018 Monaize Singapore PTE. LTD.                               *
 *                                                                            *
 * See the AUTHORS, and LICENSE files at the top-level directory of this      *
 * distribution for the individual copyright holder information and the       *
 * developer policies on copyright and licensing.                             *
 *                                                                            *
 * Unless otherwise agreed in a custom licensing agreement, no part of the    *
 * Monaize Singapore PTE. LTD software, including this file may be copied,    *
 * modified, propagated or distributed except according to the terms          *
 * contained in the LICENSE file                                              *
 *                                                                            *
 * Removal or modification of this copyright notice is prohibited.            *
 *                                                                            *
 ******************************************************************************/

div.modal .modal-dialog.modal-740 {
  width: 740px !important;
  max-width: 740px !important;
}

#footer-modal {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

hr {
  margin: 0;
}

.cryptohash {
  font-size: 1.1em;
  font-weight: 300;
}

.amount-swap {
  font-weight: 500;
}

.ticker-title {
  font-size: 1.1em;
  color: black;
  font-weight: 300;
}

.swap-ticker {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 500;
}

.tx-swap-icon {
  margin-bottom: 13px;
  margin-top: 4px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  background-color: #7c398a;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
}

.id-tx {
  font-size: 0.8em;
  font-weight: 600;
  color: #7c398a;
}

.icon-swap-arrow {
  margin-top: 25px;
  margin-bottom: auto;
}

#icon-swap-arrow {
  height: 25px;
}

.icon-swap {
  height: 70px;
}

.swap-crypto {
  background-color: white;
}

.swap-mnz {
  background-color: white;
}

#header-modal {
  padding-top: 15px;
  font-size: 1.3em;
  color: white;
  background-color: #7c398a;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.modal-body {
  padding: 0;
  border-radius: .3rem;
}

#close-button {
  height: 25px;
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
}