<div>
    <b-table  hover
              id="txTable"
              class="pointer"
              thead-tr-class="theadTrClass"
              tbody-tr-class="theadClass"
              thead-class="theadClass borderBottom"
              @row-clicked="openSwapDetail"
              :sort-desc="sortDesc"
              :sort-by="sortBy"
              :fields="fields"
              :items="txHistory"
              :current-page="currentPage"
              :per-page="perPage"
    >
        <template slot="time" slot-scope="row">
            <span>{{dateFormat(row.value)}}</span>
        </template>
        <template slot="ticker" slot-scope="row">
            <img :src="getIconFromTicker(row.value)" alt="iconTicker">
        </template>
        <template slot="mnzAmount" slot-scope="row">
            {{satoshiToBitcoin(Math.abs(row.value))}}
        </template>
        <template slot="price41" slot-scope="row">
            <div id="price">
                {{getPrice(row)}} {{row.item.ticker}}
            </div>
        </template>
        <template slot="price4all" slot-scope="row">
            <div id="totalPrice">
                {{getTotalPrice(row)}} {{row.item.ticker}}
            </div>
        </template>
        <template slot="status" slot-scope="row">
            <span id="status">{{row.item.mnzTxHash != null ? 'Done' : 'Pending'}}</span>
        </template>
    </b-table>
    <b-pagination align="center" :total-rows="txHistory.length" :per-page="perPage" v-model="currentPage" class="my-0" />

    <b-modal size="740" hide-header hide-footer centered id="swapDetailModal" :title="swapDetailTitle" ref="swapDetailModal">
        <img v-on:click="closeModal" id="close-button" src="~@/assets/icon-close-white.svg" alt="icon-close">
        <div class="d-flex flex-column">
            <div id="header-modal" class="text-center d-flex flex-column">
                <div>
                    {{swapDetailTitle}}
                </div>
                <div class="d-flex flex-row justify-content-center mt-4 mb-4">
                    <div class="d-flex flex-column">
                        <div>
                            <img class="icon-swap" :src="getIconWhiteFromTicker(swapDetailData.ticker)" alt="icon-swap-crypto">
                        </div>
                        <div class="swap-ticker">
                            {{swapDetailData.ticker}}
                        </div>
                    </div>
                    <div class="d-flex align-middle icon-swap-arrow mr-4 ml-4">
                        <img id="icon-swap-arrow" src="~@/assets/icon-swap-arrow-detail.svg" alt="icon-swap-crypto">
                    </div>
                    <div class="d-flex flex-column">
                            <div>
                                <img class="icon-swap" :src="getIconWhiteFromTicker($store.getters.getTickerForExpectedCoin('MNZ'))" alt="icon-swap-crypto">
                            </div>
                            <div class="swap-ticker">
                                {{$store.getters.getTickerForExpectedCoin('MNZ')}}
                            </div>
                        </div>
                </div>
            </div>
            <div class="swap-crypto d-flex flex-column p-4">
                <div class="d-flex flex-row ticker-title">
                    <div class="w-100 amount-swap">
                        {{swapDetailData.ticker}}
                    </div>
                    <div class="w-100 text-right">
                        Amount: <span class="amount-swap">{{satoshiToBitcoin(swapDetailData.cryptoAmount)}}</span> {{swapDetailData.ticker}}
                    </div>
                </div>
                <div class="d-flex flex-row pt-3">
                    <div class="d-flex align-items-center tx-swap-icon">
                        TX
                    </div>
                    <div class="d-flex flex-column ml-2">
                        <div class="id-tx">
                            ID
                        </div>
                        <div class="pointer cryptohash" @click.prevent="openTxExplorer(swapDetailData.ticker, swapDetailData.cryptoHash)">
                            {{swapDetailData.cryptoHash}}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr/>
            </div>
            <div id="footer-modal" class="swap-crypto d-flex flex-column p-4">
                <div class="d-flex flex-row ticker-title">
                    <div class="w-100 amount-swap">
                        {{$store.getters.getTickerForExpectedCoin('MNZ')}}
                    </div>
                    <div class="w-100 text-right">
                        Amount: <span class="amount-swap">{{satoshiToBitcoin(swapDetailData.mnzAmount)}}</span> {{$store.getters.getTickerForExpectedCoin('MNZ')}}
                    </div>
                </div>
                <div class="d-flex flex-row pt-3">
                    <div class="d-flex align-items-center tx-swap-icon">
                        TX
                    </div>
                    <div class="d-flex flex-column ml-2">
                        <div class="id-tx">
                            ID
                        </div>
                        <div :class="swapDetailData.mnzTxHash != null ? 'pointer' : ''" class="pointer cryptohash" @click.prevent="openTxExplorer($store.getters.getTickerForExpectedCoin('MNZ'), swapDetailData.mnzTxHash)">
                            {{swapDetailData.mnzTxHash != null ? swapDetailData.mnzTxHash : 'Pending'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>
</div>