<div>
    <b-table  hover
              id="txTable"
              class="pointer"
              thead-tr-class="theadTrClass"
              tbody-tr-class="theadClass"
              thead-class="theadClass borderBottom"
              @row-clicked="openSwapDetail"
              :sort-desc="sortDesc"
              :sort-by="sortBy"
              :fields="fields"
              :items="txHistory"
              :current-page="currentPage"
              :per-page="perPage"
    >
        <template slot="time" slot-scope="row">
            <span>{{dateFormat(row.value)}}</span>
        </template>
        <template slot="ticker" slot-scope="row">
            <img :src="getIconFromTicker(row.value)" alt="iconTicker">
        </template>
        <template slot="mnzAmount" slot-scope="row">
            {{satoshiToBitcoin(Math.abs(row.value))}}
        </template>
        <template slot="price41" slot-scope="row">
            <div id="price">
                {{getPrice(row)}} {{row.item.ticker}}
            </div>
        </template>
        <template slot="price4all" slot-scope="row">
            <div id="totalPrice">
                {{getTotalPrice(row)}} {{row.item.ticker}}
            </div>
        </template>
        <template slot="status" slot-scope="row">
            <span id="status">{{row.item.mnzTxHash != null ? 'Done' : 'Pending'}}</span>
        </template>
    </b-table>
    <b-pagination align="center" :total-rows="txHistory.length" :per-page="perPage" v-model="currentPage" class="my-0" />

    <b-modal centered id="swapDetailModal" :title="swapDetailTitle" ref="swapDetailModal" size="lg">
        <h5 class="my-3">{{swapDetailData.ticker}}:</h5>
        <ul>
            <li>Amount: {{satoshiToBitcoin(swapDetailData.cryptoAmount)}} {{swapDetailData.ticker}}</li>
            <li class="pointer" @click.prevent="openTxExplorer(swapDetailData.ticker, swapDetailData.cryptoHash)">TxID: {{swapDetailData.cryptoHash}}</li>
        </ul>
        <h5 class="my-3">{{$store.getters.getTickerForExpectedCoin('MNZ')}}:</h5>
        <ul>
            <li>Amount: {{satoshiToBitcoin(swapDetailData.mnzAmount)}} {{$store.getters.getTickerForExpectedCoin('MNZ')}}</li>
            <li :class="swapDetailData.mnzTxHash != null ? 'pointer' : ''" @click.prevent="openTxExplorer($store.getters.getTickerForExpectedCoin('MNZ'), swapDetailData.mnzTxHash)">TxID: {{swapDetailData.mnzTxHash != null ? swapDetailData.mnzTxHash : 'Pending'}}</li>
        </ul>
    </b-modal>
</div>