/** ***************************************************************************
 * Copyright © 2018 Monaize Singapore PTE. LTD.                               *
 *                                                                            *
 * See the AUTHORS, and LICENSE files at the top-level directory of this      *
 * distribution for the individual copyright holder information and the       *
 * developer policies on copyright and licensing.                             *
 *                                                                            *
 * Unless otherwise agreed in a custom licensing agreement, no part of the    *
 * Monaize Singapore PTE. LTD software, including this file may be copied,    *
 * modified, propagated or distributed except according to the terms          *
 * contained in the LICENSE file                                              *
 *                                                                            *
 * Removal or modification of this copyright notice is prohibited.            *
 *                                                                            *
 ******************************************************************************/

@import "~select2/dist/css/select2.min.css";
.content .select2-selection:focus {
	outline: none;
	box-shadow: none;
}

.select2-selection {
	width: 215px !important;
}

.select2-container--open .select2-dropdown--below {
  width: 239px !important;
  margin-left: -24px !important;
}

.select2-selection__rendered {
  line-height: 75px !important;
  text-align: center;
  color: #7c398a !important;
  font-weight: 200;
}

.select2-selection {
  height: 75px !important;
  width: 126px;
  border-color: #7c398a !important;
  font-size: 1.8em;
  font-weight: 300;
  border-top-left-radius: 0px 0px !important;
  border-bottom-left-radius: 0px 0px !important;
}

.select2-selection__rendered {
  padding: 0px !important;
}

.select2-selection__arrow {
  display: none;
}

.select2-search__field {
  outline: none;
}

.select2-selection {
  outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color:#7c398a;
  color: white;
}