@import '~typeface-montserrat';

.contentModalBuy .row-main-item .row {
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
}

.contentModalBuy .row-main-item .row .row-main-item {
  padding-left: 10px;
  padding-right: 20px;
}

.contentModalBuy .row-main-item .subTitle{
  align-self: flex-end;
  margin-bottom: 17px;
}

.contentModalBuy .row-main-item {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.contentModalBuy .col-custom span {
  text-align: right;
}

.contentModalBuy hr {
  border-style: none;
  height: 1px;
  margin: 0;
  background-image: linear-gradient(to left, rgba(0,0,0, 0.1) 50%, transparent 0%);
  background-position: bottom;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0,0,0, 0.1);;
  padding: 0;
}
.row-total-amount h2 {
  margin: 0px;
  font-size: 1em;
  font-weight: 500;
  color: #180d39;
  align-self: flex-end;
  padding-left: 20px;
  margin: 0px !important;
}

.headerModalBuy {
  text-align: center;
  width: 100%;
}

.headerModalBuy h2 {
  margin-top: 10px;
  color: #0C6AA8;
  font-weight: 400;
  font-size: 1.5em;
}

.selectAmount {
  color: #180d39;
  font-weight: 500;
}

.footerBuyModal #confirm {
  border: none;
  background-color: #0C6AA8;
  color: white;
  margin-right: 20px;
  min-height: 40px;
  max-height: 40px;
  height: 40px;
}

.footerBuyModal #cancel {
  margin-left: 20px;
  background-color: transparent;
  border: 2px solid rgba(24,13,57,0.1);
  min-height: 40px;
  max-height: 40px;
  height: 40px;
  padding: 0px;
}

.footerBuyModal button {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  outline: none;
}

.footerBuyModal .col {
  flex-grow: 1;
}
.footerBuyModal {
  width: 100%;
  justify-content: center;
}

.selectFees button {
  display: none !important;
}
.selectFees {
  /* width: 250px; */
}

#amountTotal {
  padding-left: 47px;
}
#totalAmountCoin {
  font-weight: 500;
  font-size: 0.8em;
  padding-top: 7px;
  padding-left: 10px;
}

#totalAmount {
  font-size: 2em;
  font-weight: 200;
  color: rgb(188,0,142);
}

#warningIcon {
  width: 25px;
  margin-right: 7px;
  margin-left: 3px;
}

#warningInfo {
  margin: 0px;
  font-weight: 600;
  font-size: 0.9em;
}
.row-total-amount {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.row-total-amount .row {
  justify-content: flex-start;
}

.selectFee {
  text-align: right;
}

#horizontalLine {
  background-image: none;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f3f4fc;
  margin: 1em 0;
  padding: 0;
}

.contentModalBuy {
  width: 100%;
}

.modal-content {
  border: none;
  /* width: 450px; */
}

.modal-body {
  padding: 0 !important;
  border-radius: .3rem !important;
}

.modal-header {
  text-align: center;
  border-bottom: none !important;
  padding-bottom: 0px;
}

.modal-footer {
  border: none !important;
}

.cal{
  max-width: 100%;

}
#wrapper {
  width: 100%;
  margin: 0 auto;
}

#leftcolumn {
  width: 50%;
  float:  left;
}

#rightcolumn {
  float:right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

@media (max-width: 700px) {

  .cal{
    max-width: 100%;
    max-height: 80%;

  }

  #wrapper {
      width: 100%;
      margin: 0 auto;
  }

  #leftcolumn {
    width: 100%;
    float:  top;
  }

  #rightcolumn {
    width: 100%;
  float:bottom;
  }

}

.wrapper {
  display: flex;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: white !important;
  padding: 0px !important;
  margin: 0px !important;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
    text-decoration: none !important;
}

#content {
  margin-left: 240px;
  height: 100vh;
}

.number-view {
  padding-right: 20px;
  fill: red;
}

#sidebar .sidebar-header {
  background: #6d7fcc;
}

#sidebar ul.components {
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li {
  margin: 20px 0;
}

button span {
  padding-right: 10px;
}

#logout {
  position: fixed;
  bottom: 20px;
}

#sidebar ul li a {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 26px;
  font-size: 1.1em;
  color: rgb(151,151,151);
  display: block;
  list-style-type: none;
  cursor: pointer;
}

#sidebar ul li{
  color: rgb(151,151,151);
}

#sidebar ul li > a.active {
  color: #ffffff;
}

ul ul a {
  font-size: 0.3em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#icon-logout {
  padding-right: 30px;
  padding-left: 20px;
}

#logout p {
  color: white;
  font-weight: 500;
}

.btn-primary {
  border: 1px solid #0C6AA8;
  border-radius: 4px !important;
  background-color: transparent;
  color: #0C6AA8;
  outline: none;
}

.btn-primary:hover {
  background-color: #0C6AA8;
  border: 1px solid #0C6AA8;
}

.card {
  box-shadow: 0 5px 20px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.01);
  border-radius: 4px;
  border: none !important;
}

.row-main-item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.btn-round-light {
  min-height: 50px;
  font-weight: 500;
  border: 2px solid rgba(24,13,57,0.1);
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  color: rgb(51, 51, 51);
  font-size: 0.9em;
  cursor: pointer;
  outline: none;
}

textarea {
    resize: none;
}

.positiveColor {
  color: #30ca00;
  font-weight: 500;
}

.negativeColor {
  color: #f82869;
  font-weight: 500;
}

.rewardColor {
  color: #2179bf;
  font-weight: 500;
}

#icoEndedBanner,
#icoWillBeginBanner {
  background-color: #0C6AA8;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 35px;
  color: white;
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.top-right {
  top: 0% !important;
  right: 1% !important;
}


.table thead th {
  border: none;
  font-weight: 300;
  color: #180d39;
  outline: none !important;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.theadClass {
  text-align: center;
}

.cardTable {
  box-shadow: 0 5px 20px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.01);
  border-radius: 4px;
  border: none;
}

#status {
  font-weight: 600;
}

#price {
  border-left: 1px solid rgba(151, 151, 151, 0.5);
  border-right: 1px solid rgba(151, 151, 151, 0.5);
}

#totalPrice {
  border-right: 1px solid rgba(151, 151, 151, 0.5);
}

.pointer {
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #0C6AA8;
  border-color: #0C6AA8;
}

.page-link {
  color: #0C6AA8;
}

.page-link:active {
  color: white !important;
  background-color: #0C6AA8 !important;
}

.bannerMargin {
  margin-top: 35px;
}

.modal-open {
  overflow: scroll;
}

.progress-bar {
  background-color: #bcbaca !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-light {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: white;
}


.utrum-select .v-select{
  height: 50px;;
}
.utrum-select .v-select .clear{
  display: none !important;
}
.utrum-select .v-select .open-indicator{
  bottom: 10px !important;
  right: 15px !important;
}
.utrum-select .v-select .dropdown-toggle{
  height: 100% !important;
}
.utrum-select .v-select input{
  height: 100% !important;
  padding-left: 40px !important;
}
.utrum-select .v-select .selected-tag{
  line-height: 42px;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.utrum-select .v-select input[type="time"]::-webkit-clear-button {
  display: none !important;
}
.utrum-select .v-select .selected-tag{
    position: absolute;
    margin-left: 40px;
}
.utrum-select .v-select .dropdown-menu li > a{
  padding: 10px 20px;
  text-transform: capitalize;
}
.utrum-select .v-select .active > a{
  pointer-events: none;
}
.utrum-select{
  position: relative;
}
.utrum-select .flex{
  display: flex;
  width: 45px;
  position: absolute;
  height: 50px;
}
.utrum-select  .sel-icon{
  margin: auto;
  max-height: 25px;
}